<a href="/home0">Home</a> | <a href="/about0">About</a> |
<a href="/contact0">Contact</a> | <a href="/fileupload1">FileUpload</a> |
<a href="/mail4">SentMail</a> | <a href="/mail5">FormDetail</a> |
<a href="/form3">Formrender</a> | <a href="/signup2">SignUP</a> |
<a href="/index6">Localstorage</a> |
